.card-container{
  max-width: 350px;
  .card-title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .card-item-price{
      font-weight: 700;
      color: #05004d;
    }
  }
  .card-actions-section{
    display: flex;
    justify-content: space-evenly;
  }
}