.user-info-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
    text-align: center;
    .avatar{
        text-decoration: none;
        &:hover{
            cursor: pointer;
        }
    }
    .field:hover{
        background-color: #b48768;
        color: #fff;
        transition: 1s ease-in-out;
        cursor: pointer;
    }
}





